<a href="https://colab.research.google.com/github/srimathi-04/ztest/blob/main/ztest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [2]:
df=pd.read_csv("/content/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df[['SepalWidthCm','PetalWidthCm']].describe()

       SepalWidthCm  PetalWidthCm
count    150.000000    150.000000
mean       3.054000      1.198667
std        0.433594      0.763161
min        2.000000      0.100000
25%        2.800000      0.300000
50%        3.000000      1.300000
75%        3.300000      1.800000
max        4.400000      2.500000

In [6]:
ztest ,pvalue = stests.ztest(df['SepalWidthCm'], x2=None, value=150)
print(float(pvalue))
print(ztest)

0.0
-4150.685448480932

In [7]:
if pvalue<0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis rejected , Alternative hypothesis accepted

In [9]:
ztest,pval1=stests.ztest(df['PetalLengthCm'],df['SepalLengthCm'],value=125)
print(float(pval1))

0.0

In [10]:
if pval1>0.05:
    print("Null hypothesis rejected , Alternative hypothesis accepted")
else:
    print("Null hypothesis accepted , Alternative hypothesis rejected")

Null hypothesis accepted , Alternative hypothesis rejected

In [11]:
import pandas as pd
import numpy as np
from statsmodels.stats import weightstats as stests
import math

In [13]:
x_bar = 80
Mu = 20
Sigma = 40
n = 10

Z = (x_bar-Mu)/(Sigma/math.sqrt(n))
print(Z)

if Z < 0.05:
  print("Null hypothesis Rejected and Alternative hypothesis Accepted")
else:
  print("Null hypothesis Accepted and Alternative hypothesis Rejected")

4.743416490252569
Null hypothesis Accepted and Alternative hypothesis Rejected